OWNER_NAME="DML Md"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "DML-MD"
IMAGE_MENU= "https://files.catbox.moe/t37bpc.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛DML MD᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
